<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs442.group10.compost_crossing">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".resident.residentDefault.ResidentListViewActivity" />
        <activity android:name=".resident.ResidentListViewActivity" />
        <activity android:name=".Composter.CompostDetailActivity" />
        <activity android:name=".Composter.ComposterRegistration" />
        <activity
            android:name=".newsArticle.Article"
            android:theme="@style/NoTitleTheme">
        </activity>
        <service android:name=".newsArticle.ArticleNotificationService" />
        <receiver android:name=".newsArticle.MyAlarm" android:process=":remote" />
        <activity android:name=".resident.historyPage.ResidentAdsHistory" />
        <activity android:name=".resident.nearByComposter.NearByComposter" />
        <activity android:name=".resident.createAd.AdCreation"></activity>
        <activity android:name=".resident.AdCreation"></activity>
        <activity android:name=".Composter.ComposterListViewActivity"></activity>
        <activity android:name=".resident.ResidentRegisteration"></activity>
        <activity android:name=".preferences.MyPreferenceActivity" android:theme="@style/PreferencesTheme"></activity>
    </application>

</manifest>